<div class="container">
  <h1>Put your barbecue on the map </h1>
  <h3>You wont be making a mi<em class='hot'>steak</em></h3>
  <%= simple_form_for @bbq do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price, label: 'Price / Day'%>
  <%= f.input :location %>
  <% brands = %w[BBQ4U Weber Cobb Napoleon Clarstein Cuisinart] %>
  <%= f.input :manufacturer, collection: brands%>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
