
<div class="container">
  <h1><%= @bbq.title %></h1>
  <%= link_to 'Book this BBQ', new_bbq_booking_path(@bbq), class: 'btn btn-primary' %>

  <h2>Reviews:</h2>
    <%= link_to 'Write a review', new_bbq_review_path(@bbq), class: 'btn btn-primary' %>
  <ul>
  <% @bbq.reviews.each do |review| %>



        <% rating_stars = [] %>
        <% review.rating.times do %>
          <% rating_stars << '' %>
        <% end %>

        <div class="rating-card" class="pb-4">
          <p>Rating: <%= rating_stars.join('🔥').html_safe %></p>
        </div>
        <blockquote class="blockquote">
        <p>"<%= review.comment %>"</p>
        </blockquote>
        <footer class="blockquote-footer" class="text-right"><%= review.user.first_name %> <%= review.user.last_name %>, <%= review.created_at.strftime("%d/%m/%Y") %></footer>

        <br>


  <% end %>
  </ul>
</div>

<%# <i class="fa-solid fa-fire-flame-curved"></i> %>
