
<div class="container">



  <div class="bbq_card_show">
    <h2><%= @bbq.manufacturer%> - <%= @bbq.title%></h2>
    <div class="under-title-bar">
      <% if @bbq.reviews.empty? %>
            <% bbq_ratings = "New" %>
        <% else %>
            <% bbq_ratings = 0 %>
            <% @bbq.reviews.each do |review| %>
              <% bbq_ratings += review.rating  %>
            <% end %>
            <% bbq_ratings = (bbq_ratings.to_f / @bbq.reviews.length).round(1)%>
        <% end %>
      <span >★ <%= bbq_ratings%>  ·</span>
      <span class="text_location text-muted"><u><%= @bbq.location%></u></span>
    </div>
  </div>
     <div class="bbq-img-container">
          <img src="https://www.robertdyas.co.uk/media/magefan_blog/bbq-checklist.jpg"  class="img1" alt="">
          <img src="https://www.robertdyas.co.uk/media/magefan_blog/bbq-checklist.jpg" class="img2" alt="">
          <img src="https://www.robertdyas.co.uk/media/magefan_blog/bbq-checklist.jpg" class="img3" alt="">
    </div>
  <div class="meta-container">
    <div class="booking-card">
      <%= link_to 'Book this BBQ', new_bbq_booking_path(@bbq), class: 'btn btn-primary' %>
    </div>

    <div class="review-card">
      <h2>description</h2>
      <h2>Reviews:</h2>
      <%= link_to 'Write a review', new_bbq_review_path(@bbq), class: 'btn btn-primary' %>
        <ul>
        <% @bbq.reviews.each do |review| %>
          <div class="rating-card" class="mt-4" class="p-4">
            <blockquote class="blockquote">
              <% rating_stars = [] %>
              <% review.rating.times do %>
                <% rating_stars << '<i class="fa-solid fa-fire-flame-curved"></i>' %>
              <% end %>
              <p>Rating: <%= rating_stars.join('').html_safe %></p>
              <p><%= review.comment %></p>
              <div class="text-right">
                <footer class="blockquote-footer"><%= review.user.first_name %> <%= review.user.last_name %>, <cite><%= review.created_at %></cite></footer>
              </div>
            </blockquote>
          </div>
        <% end %>
        </ul>
    </div>
  </div>
</div>
