
<div class="container">
  <div class="bbq_card_show">
    <h2><%= @bbq.manufacturer%> - <%= @bbq.title%></h2>
    <div class="under-title-bar">
      <% if @bbq.reviews.empty? %>
            <% bbq_ratings = "New" %>
        <% else %>
            <% bbq_ratings = 0 %>
            <% @bbq.reviews.each do |review| %>
              <% bbq_ratings += review.rating  %>
            <% end %>
            <% bbq_ratings = (bbq_ratings.to_f / @bbq.reviews.length).round(1)%>
        <% end %>
      <span >★ <%= bbq_ratings%>  ·</span>
      <span class="text_location text-muted"><u><%= @bbq.location%></u></span>
    </div>
  </div>

     <div class="bbq-img-container">
          <img src="<%=cl_image_path @bbq.photos[0].key %>"  class="img1" alt="">
          <img src="<%=cl_image_path @bbq.photos[1].key %>"  class="img2" alt="">
          <img src="<%=cl_image_path @bbq.photos[2].key %>"  class="img3" alt="">
    </div>
  <div class="content-container">
    <div class="booking-card">
        <h2> Book it now! </h2>
      <%# <%= link_to 'Book this BBQ', new_bbq_booking_path(@bbq), class: 'btn btn-primary' %>
      <%= simple_form_for [@bbq, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="description">
      <h2>Description:</h2>
        <p>Description: <%= @bbq.description %></p>
        <p>Fuel Type: <%= @bbq.fuel_type %></p>
        <p>Cooking Area: <%= @bbq.cooking_area%></p>
        <p>Power: <%= @bbq.power %></p>
        <p>Weight: <%= @bbq.weight %></p>
        <p>Style: <%= @bbq.style_type %></p>


      <h2>Reviews:</h2>
      <% @bbq.reviews.each do |review| %>
          <div class="rating-card" class="mt-1" class="p-4">
            <% fire_number = review.rating %>
            <% rating_fire = []%>
            <% fire_number.times do  %>
              <% rating_fire << '🔥' %>
            <% end %>
            <p>Rating: <%= rating_fire.join %></p>
          </div>
        <blockquote id="blockquote">
          <p>"<%= review.comment %>"</p>
        </blockquote>
        <footer class="blockquote-footer" class="text-right"><%= review.user.first_name %> <%= review.user.last_name %>, <%= review.created_at.strftime("%d/%m/%Y") %></footer>

        <% end %>
    </div>
  </div>
</div>

<%# <i class="fa-solid fa-fire-flame-curved"></i> %>
